<div class="container super">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent border-bottom">
    <a class="navbar-brand" href="#">Chime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link home" href="javascript:location.replace(location.href.slice(0, -('/browse').length))">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="browse" href="javascript:location.replace(location.href + '/browse')">Browse <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-4">Subscribe</h2>
    </div>
  </div>   
<!--
<h2>Search for organizations to follow</h2>

<div class="search-container">
    <input type="text" placeholder="Search">
    <button type="button"><i class="fa fa-search"></i></button>
</div>
{{! <form id="organization-search">
    <input type="text" placeholder="Search..">
</form>}}
=======
-->
<div class="row">
<div class="col-12 mb-4">
<h2>Follow an Organization</h2>
</div>
<div class="col-7">
{{#each orgs}}
<div class="org-subscribe row">
  <div class="col-7">
    <p class="org-title">{{title}}</p>
  </div>
  <div class="col-5">
    <button class="subscribe  {{btn}}" data-name="{{title}}" data-sub="{{subbed}}">{{text}}</button>
  </div>   
</div>
{{/each}}
</div>
</div>
</div>



