<div class="container super">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent border-bottom">
    <a class="navbar-brand" href="#">Chime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="browse" href="javascript:location.replace(location.href + '/browse')">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-4">{{user}}</h2>
    </div>
  </div>
  <div class="row">
    <div id="messages" class="col-6">
      <h3>My messages</h3>
        {{#each messages}}
        <div class="sms-div mb-4 border">
          <p class="sms-date">{{datetime}}</p>
          <p class="sms-sub">{{sub}}</p>
          <p class="sms-text">{{message}}</p>
        </div>
        {{/each}}
        {{mess_error}}
      </div>

      <div id="subscriptions" class="col-6">
        <h3>Subscriptions</h3>
        {{#each subs}}
        <div class="row">
          <div class="col-7">
            <p class="my-sub">{{sub}}</p>  
          </div>
          <div class="col-4">
            <button class="btn btn-primary subscribe" data-name="{{sub}}" data-sub="true">Subscribed</button>
          </div>
        </div>
        {{/each}}
        {{sub_error}}
      </div>
    </div>
</div>